@import 'reset';
@import 'menu';
@import 'layout';

body{
  background-image: url("../img/accueil.jpg");
  background-position: center;
  background-repeat:no-repeat;
  background-size: 100%;
}
img{
  width: 100%;
}
.image{
  width: 100px;
}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}